.faq {
    color: white;
    background: rgb(84, 78, 226);
    background: linear-gradient(45deg, rgba(84, 78, 226, 1) 0%, rgba(1, 201, 188, 1) 100%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.616);
    margin: 20px;
}